<div class="jumbotron">
    <h2 align="center">Hello, My name is</h2>
    <h1 align="center">ABHISHEK JOSHI</h1>
</div>

<div id="nav-icons" class="navbar">
    <div class="row" align="center">
        <div class="col-md-2 col-sm-offset-2">
            <div class="icon-border">
                <a href="https://drive.google.com/file/d/0B-5VOwsHH6uPQUlsSzNRTC01VjQ/view?usp=sharing" id="resume" class="fa fa-file-text-o fa-4x icons" aria-hidden="true"></a>               
            </div>
            <div id="icon-resume">
                <h3>RESUME</h3>
            </div>
        </div>
        <div class="col-md-2">
            <div class="icon-border">
                <%= link_to "", projects_path , class: "fa fa-briefcase fa-4x icons", id: "projects" %>
            </div>
            <div id="icon-projects">
                <h3>PROJECTS</h3>
            </div>
        </div>
        <div class="col-md-2">
            <div class="icon-border">
                <a href="https://github.com/Abhishek-P-Joshi/" id="github" class="fa fa-github fa-4x icons" aria-hidden="true"></a>
            </div>
            <div id="icon-github">
                <h3>GITHUB</h3>
            </div>
        </div>
        <div class="col-md-2">
            <div class="icon-border">
                <a href="https://www.linkedin.com/in/abhishek-joshi-5619a676/" id="linkedin" class="fa fa-linkedin-square fa-4x icons" aria-hidden="true"></a>
            </div>
            <div id="icon-linkedin">
                <h3>LINKEDIN</h3>
            </div>
        </div>
    </div>
</div>