<div class = "container">
  <footer class="footer">
    <small>
      Built using Ruby on Rails
      <div class="footer-text">
          <%= mail_to "abhishek.pr.joshi@gmail.com", "Email Me: abhishek.pr.joshi@gmail.com" %>
      </div>
    </small>
    
  </footer>
</div>